aside {
    position:absolute;
    top: 0px;
    right: 5px;
}

section {
    line-height: 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    padding-left: 5%;
    padding-right: 5%;
    
}

nav {
    position: absolute;
    top: 0px;
}

footer {
    background-color: green;
    color:white;
    height: 70px;
}